<%- include('header') %>
<%- include('profile-header',{user : user}) %>

<div>
    <div class="col-xs-12 text-center">
        <h2><%= user.regNumber  == conversation._user1.regNumber ? conversation._user2.name : conversation._user1.name %> - <%= user.regNumber  == conversation._user1.regNumber ? conversation._user2.regNumber : conversation._user1.regNumber %> - Messages:</h2>
    </div>

    <div class="col-md-push-3 col-md-6 col-xs-12">
    <% conversation._messages.forEach(function (message){ %>
        <% if (message._senderUser.equals(user._id)) { %>
        <div class="alert-warning">
            <b>Me:</b><br/>
            <%= message.body%>
        </div>
        <% } else { %>
        <div class="alert-info" align="right">
            <b><%=conversation._user1.regNumber == user.regNumber ? conversation._user2.name : conversation._user1.name %>:</b><br/>
            <%= message.body%>
        </div>
        <% } %>
     <% }); %>
    </div>

    <div class="col-xs-12 text-center">
        <h2>New message:</h2>
    </div>
    <div class="col-md-push-3 col-md-6 col-xs-12">
        <form method="POST" action="/message/add/<%= conversation._id %>">
            <div class="form-group">
                <label for="message">Message: </label>
                <textarea rows="3" class="form-control" id="message" name="message"></textarea>
            </div>
            <div class="form-group">
                <input  type="submit" class="btn btn-primary" value="Send"/>
            </div>
        </form>
    </div>
</div>

<%- include('footer') %>